
@import url("../../navbar/navbar.css");
@import url("../../footer/footer.css");
@import url("../../partials/var.css");

body{
    font-family: var(--montser);
    /*font-family:'Pacifico', cursive;*/
}

/*pricing section */

h2 {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    /*var doesn't work here?'*/
}

h3 {
    color: var(--primary-color-dark);
    text-shadow: 5px 5px 15px var(--primary-color-dark);
    font-weight: bolder;
}

p {
    color: var(--primary-color-dark);
    text-shadow: 5px 5px 15px var(--primary-color-dark);
}

#pricing {
    padding: 100px;
    font-family: var(--montser);
    font-weight: bold;
}

.image-section {
    background-image: url('../../assets/images/cat-rests-in-bedroom.jpg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    text-align: center;
    background-position: 0% 80%;
}

.section-heading {
    color: var(--accent-color);
    font-size: 3rem;
    line-height: 1.5;
    font-family: var(--pacific);
    text-shadow: 5px 5px 15px var(--accent-color);
    /*font-size: var(--title-size);*/
}

.heading-text{
    font-size: var(--body-size);
    color: var(--accent-color-light);
    font-family: var(--pacific);
    text-shadow: 5px 5px 15px var(--accent-color-light);
}


.pricing-column {
    padding: 3% 2%;
    border-radius: 1rem;
}

.card{
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.card-img-top {
    border-radius: 30%;
    width: auto;
    height: 100px;
}

.card-title {
    font-size: 2rem;
    line-height: 1.5;
    color: var(--accent-color);
    font-family: var(--pacific);
    text-shadow: 5px 5px 15px var(--accent-color-light);
}

.btn {
    text-shadow: 5px 5px 15px var(--primary-color-dark);
}