
@import url("../../navbar/navbar.css");
@import url("../../footer/footer.css");
@import url("../../partials/var.css");

header {
  h1 {
    font-family: var(--pacific);
    text-shadow: 5px 5px 15px var(--accent-color);
    font-size: var(--title-size);
  }
  p {
    text-transform: uppercase;
    padding-top: 20px;
    
  }
}
p {
  font-family: var(--montser);
  font-size: var(--body-size);
}
section {

  
  .container {
    justify-content: center;
    a {
      color: var(--primary-color);
    }
    a:hover {
      color: var(--accent-color-light);
    }
    .done {
      font-family: var(--pacific);
      font-size: var(--title-size);
    }
  }
}

h2 {
  font-size: var(--head-size);
  font-weight: var(--title-weight);
  color: var(--accent-color);
}
.masthead {
  height: 90vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.footer {
  position: relative;

}

.parallax-window {
  min-height: 400px;
  background: transparent;
}