@import url("../../navbar/navbar.css");

.masthead {
    height: 90vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .parallax-window {
    min-height: 400px;
    background: transparent;
}