.custom-container-features {
  margin-top: 10rem;
  width: auto;
}

.custom-container-features .card {
  border-color: transparent;
  background-color: #00000060;
  box-shadow: 0.1 0.1 0.5rem 0 #00000075;
  color: #fff;
  border-radius: 20px;

  /*Unsupported in Firefox 70, but supported in Chrome*/
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.card-title {
  font-family: 'Pacifico';
  font-size: 1.4rem;
}
.card-text {
  font-family: 'Montserrat';
  font-size: 1rem;
}

.card .card-body .btn-primary {
  border-color: transparent;
  background: linear-gradient(120deg, #d91a60 0%, #ec6a74 100%);
  border-radius: 1rem;
}

.card .card-body .btn-primary > p {
  margin: 0rem 0.75rem;
}

.card .card-body .btn:hover {
  border-color: transparent;
  box-shadow: 0.1rem 0.1rem 0.3rem #d91a6044;
}
.card .card-body .btn :clicked {
  border-color: transparent;
}

body {
  min-height: 100vh;
}

.image-section {
  background-position: 60% 0%;
  background-image: url('../../assets/images/photo-cats-sleepy-crop.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: #ec6a74;
}
